apiVersion: apps/v1
kind: Deployment
metadata:
  name: pong-flask
  namespace: games
  labels:
    app: pong-flask
    app.kubernetes.io/name: pong-flask
    app.kubernetes.io/component: game
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pong-flask
  template:
    metadata:
      labels:
        app: pong-flask
    spec:
      imagePullSecrets:
        - name: gcr-secret
      containers:
        - name: pong-flask
          image: australia-southeast1-docker.pkg.dev/chrispy/games/pong-flask:latest
          ports:
            - containerPort: 5000
              protocol: TCP
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
